<head>
  <meta charset='<%= ::Rails.application.config.encoding %>' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :meta %>
  <title><%= Refinery::Core.site_name -%> - Refinery</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'refinery/refinery' %>
    <link rel="stylesheet" href="../assets/css/application.scss">
    <!-- basic stylesheet -->
    <link rel="stylesheet" href="../assets/css/projects.scss">
    <!-- basic stylesheet -->
    <link rel="stylesheet" href="..//assets/css/royalslider.css">
  <%= render 'refinery/admin/javascripts' %>
</head>
